<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Bejelentkezés</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

</head>
<body>



	

	  <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="images/login.png" alt="IMG">
				</div>

			  	<form name="login" th:action="@{/login}" method="post" class="login100-form validate-form">
					<span class="login100-form-title"> Bejelentkezés </span>
							<div id="err" th:if="${param.error}" class="alert alert-danger">Ilyen email, jelszó kombináció nem található!</div>		 	
				 	
				 	<div class="wrap-input100 validate-input" data-validate="Érvényes email: ex@abc.xyz alakú">
						<input id="username" name="username" class="input100" type="text" placeholder="Email" /> 
						<span class="focus-input100"></span>
						<span class="symbol-input100"><i class="fa fa-envelope"aria-hidden="true"></i>
						</span>
					</div>

				<div class="validate-secondMessage">
					<div class="wrap-input100 validate-input" data-validate="Jelszó szükséges">
						<input id="password" class="input100" type="password" name="password" placeholder="Jelszó" /> 
						<span class="focus-input100"></span>
						<span class="symbol-input100"> <i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
</div>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit" data-toggle="modal" data-target="#myModal2">Belépés</button>
					</div>

					<div class="text-center p-t-12">

						<a class="txt2" href="/forgetPassword"> Elfelejtett jelszó? </a>
					</div>

					<div class="text-center p-t-136">
						<a class="txt2" href="/registration"> Fiók Létrehozása <i
							class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>

 


	<!--===============================================================================================-->
	    <script src="jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
      	<script src="js/main.js"></script>
	<!--===============================================================================================-->
        <script src="https://kit.fontawesome.com/ad2e8b6a11.js" crossorigin="anonymous"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>