<!DOCTYPE html>
<html lang="en">
<head>
<title>Bejelentkezés</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--===============================================================================================-->
<link rel="icon" type="image/png" href="images/icons/home.ico" />
<!--===============================================================================================-->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
	integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX"
	crossorigin="anonymous">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/mainStyle.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/modalStyle.css">
</head>
<body>

	<div class="container h-100 d-flex justify-content-center">
		<div class="jumbotron my-auto">
			<div class="row ">
				<div class="col-sm" align="center">
					<img src="images/login.png" alt="IMG" class="regPicture img-fluid">
				</div>
				<div class="col-sm" align="center">

					<form name="login" th:action="@{/login}" method="post" novalidate>
						<h3>Bejelentkezés</h3>
						<hr />

						<div class="form-group">
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<img src="images/icons/person-fill.svg">
									</div>
								</div>
								<input type="text" class="form-control" id="username"
									placeholder="Email"  name="username"
									required>
								<div th:if="${param.error}"
									class="errMessage alert alert-danger text-left" role="alert">
									<p>Ilyen email, jelszó kombináció nem található!</p>
								</div>

							</div>
						</div>



						<div class="form-group">
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<img src="images/icons/shield-lock-fill.svg">
									</div>
								</div>
								<input type="password" class="form-control" id="pass"
									placeholder="Jelszó"  name="password"
									required>


							</div>
						</div>



						<br />
						<button type="submit" class="btn btn-primary  btn-block">
							<b>Küldés</b>
						</button>
						<br /> 
						<div class="backToLogin">
						<a href="/forgetPassword"> Elfelejtett jelszó? </a>/<a  href="/registration"> Regisztráció<img
							src="images/icons/arrow-right.svg"> </a>
							</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	

 <div  th:if="${param.needActivation}" id="needActivation" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
			
				
				 <img class="icon img-fluid rounded mx-auto d-block" src="images/icons/alert.svg">
				
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body text-center">
				<h4>Siker!</h4>	
				<p>Az első bejelentkezés előtt aktíválnia kell fiókját.
				A regsztrációkor megadott email címre kiküldtük az aktivációs kódot.</p>
				
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Bezár</button>
			</div>
		</div>
	</div>
</div>     


<!-- Hiba üzenetek -->

  <div  th:if="${param.activationSuccess}" id="activationSuccess" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
			
				
				 <img class="icon img-fluid rounded mx-auto d-block" src="images/icons/check-circle.svg">
				
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body text-center">
				<h4>Siker!</h4>	
				<p>A felhasználói fiók aktiválva lett, mostmár bejelentkezhet.</p>
				
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Bezár</button>
			</div>
		</div>
	</div>
</div>     

  <div  th:if="${param.passwordChanged}" id="activationSuccess" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
			
				
				 <img class="icon img-fluid rounded mx-auto d-block" src="images/icons/check-circle.svg">
				
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body text-center">
				<h4>Siker!</h4>	
				<p>A jelszava megváltozott!</p>
				
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Bezár</button>
			</div>
		</div>
	</div>
</div> 

  <div  th:if="${param.tokenExpired}" id="tokenExpired" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header bg-danger">
			
				
				 <img class="icon img-fluid rounded mx-auto d-block" src="images/icons/alert.svg">
				
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body text-center">
				<h4>Hiba!</h4>	
				<p>A munkamenet ideje lejárt!  Amennyiben elfelejtette a jelszavát kérjük kattintson <a href="/forgetPassword">ide</a></p>
				
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Bezár</button>
			</div>
		</div>
	</div>
</div> 

<div  th:if="${param.invalidToken}" id="invalidToken" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header bg-danger">
			
				
				 <img class="icon img-fluid rounded mx-auto d-block" src="images/icons/alert.svg">
				
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body text-center">
				<h4>Hiba!</h4>	
				<p>Az email-ben megadott linkre kattintva tudja megváltoztatni a jelszavát! Amennyiben elfelejtette a jelszavát kérjük kattintson <a href="/forgetPassword">ide</a></p>
				
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Bezár</button>
			</div>
		</div>
	</div>
</div> 


<div  th:if="${param.emailSend}" id="emailSend" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
			
				
				 <img class="icon img-fluid rounded mx-auto d-block" src="images/icons/envelope.svg">
				
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body text-center">
				<h4>Siker!</h4>	
				<p>A megadott email címre kiküldtük a linket amin keresztül megtudja változatni a jelszavát! A link csak 30 percig lesz érvényes!</p>
				
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Bezár</button>
			</div>
		</div>
	</div>
</div> 

<div  th:if="${param.logout}" id="logout" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
			
				
				 <img class="icon img-fluid rounded mx-auto d-block" src="images/icons/check2-circle.svg">
				
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body text-center">
				<h4>Siker!</h4>	
				<p>A kijelentkezés sikeressen megtörtént!</p>
				
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Bezár</button>
			</div>
		</div>
	</div>
</div> 

<div  th:if="${param.updateUserNameSuccess}" id="updateUserNameSuccess" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
			
				
				 <img class="icon img-fluid rounded mx-auto d-block" src="images/icons/check2-circle.svg">
				
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body text-center">
				<h4>Siker!</h4>	
				<p>A jelszava megváltozott!</p>
				
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Bezár</button>
			</div>
		</div>
	</div>
</div> 


	<!--===============================================================================================-->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<!--===============================================================================================-->
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<!--===============================================================================================-->
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
		integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
		crossorigin="anonymous"></script>
	<!--===============================================================================================-->
<script type="text/javascript">
$(document).ready(function(){
	$("#activationSuccess").modal('show');
	$("#needActivation").modal('show');
	$("#passwordChanged").modal('show');
	$("#invalidToken").modal('show');
	$("#tokenExpired").modal('show');
	$("#emailSend").modal('show');
	$("#logout").modal('show');
	$("#updateUserNameSuccess").modal('show');
	$("#updatedUserPasswordSuccess").modal('show');
	
	
});

</script>
<script  src="js/dropDownList.js"></script>
</body>
</html>