.title{
	color: #6C757D;
}
.form-group{
	padding-top: 70px;
	margin-top: -45px;
}

.btn-primary{
	margin-top: 41px;
	color: #fff;
    background-color: #727cf5;
    border-color: #727cf5;
}

.btn-primary:hover{
	 background-color: #4E5BF2;
}
