<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Elfelejtett jelszó</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/forgotPassword.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <!--===============================================================================================-->
  </head>
  <body>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <div
            class="login100-picForgetPassword js-tilt forgetPassword"
            data-tilt
          >
            <img src="images/forgetPassword.png" alt="IMG" />
          </div>

          <form class="login100-form validate-form">
            <span class="login100-form-title"> Elfelejtett jelszó </span>

            <div
              class="wrap-input100 validate-input"
              data-validate="Érvényes email: ex@abc.xyz alakú"
            >
              <input
                class="input100"
                type="text"
                name="email"
                placeholder="Email"
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </span>
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate="Kötelető kitölteni!"
            >
              <input
                class="input100"
                type="text"
                name="username"
                placeholder="Felhasználónév"
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-user" aria-hidden="true"></i>
              </span>
            </div>

            <div class="container-login100-form-btn">
              <button class="login100-form-btn">Küldés</button>
            </div>

            <div class="text-center p-t-12">
              <a class="txt2" href="/login"> Bejelentkezés </a>
            </div>

            <div class="text-center p-t-136">
              <a class="txt2" href="/registration">
                Fiók Létrehozása
                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--===============================================================================================-->
    <script src="jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>
    <!--===============================================================================================-->
    <script
      src="https://kit.fontawesome.com/05243c2d3d.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
