<!DOCTYPE html>
<html lang="en">
<head>
<title>Elfelejtett Jelszó</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--===============================================================================================-->
<link rel="icon" type="image/png" href="images/icons/home.ico" />
<!--===============================================================================================-->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
	integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX"
	crossorigin="anonymous">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/mainStyle.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/modalStyle.css">

</head>
<body>

	<div class="container h-100 d-flex justify-content-center">
		<div class="jumbotron my-auto">
			<div class="row ">
				<div class="col-sm" align="center">
					<img src="images/forgetPassword.png" alt="IMG" class="regPicture img-fluid">
				</div>
				<div class="col-sm" align="center">
<ul class="list-group">
 
  <li class="list-group-item d-flex justify-content-between align-items-center">
   <span class="badge badge-primary badge-pill">1</span>
  Adja meg az email címét amivel regisztrált.
  
  </li>
   
  <li class="list-group-item d-flex justify-content-between align-items-center">
  <span class="badge badge-primary badge-pill">2</span>
   A rendszer a megadott eamil címre kiküld egy linket
   
  </li>

  <li class="list-group-item d-flex justify-content-between align-items-center">
     <span class="badge badge-primary badge-pill">3</span>
    A kiküldött linken keresztűl tudja megváltozatni a jelszavát
   
  </li>
</ul>

					<form th:action="@{/forgetPasswordAction}" th:object="${user}" method="post" novalidate>
						<h3>Elfelejtett Jelszó</h3>
						<hr />



						<div class="form-group">
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<img src="images/icons/person-fill.svg">
									</div>
								</div>
								<input type="text" class="form-control"  th:field="*{email}"  name="email" id="email"
									placeholder="Email"  
									required>
									<div th:if="${#fields.hasErrors('email')}"
									class="errMessage alert alert-danger text-left" role="alert">
									<p th:errors="*{email}"></p>
								</div>
							</div>
						</div>

						<br />
						<button type="submit" class="btn btn-primary  btn-block">
							<b>Küldés</b>
						</button>
				
						<br /> 
						<div class="backToLogin">
						<a href="/login"> Bejelentkezés </a>/<a  href="/registration"> Regisztráció<img
							src="images/icons/arrow-right.svg"> </a>
							</div>
							</form>
				</div>
			</div>
		</div>
	</div>



<div  th:if="${param.emailNotFound}" id="emailNotFound" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header bg-danger">
			
				
				 <img class="icon img-fluid rounded mx-auto d-block" src="images/icons/alert.svg">
				
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body text-center">
				<h4>Hiba!</h4>	
				<p>A megadott email cím nem létezik!</p>
				
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Bezár</button>
			</div>
		</div>
	</div>
</div>     


	<!--===============================================================================================-->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<!--===============================================================================================-->
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<!--===============================================================================================-->
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
		integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
		crossorigin="anonymous"></script>
	<!--===============================================================================================-->

<script type="text/javascript">
$(document).ready(function(){
	$("#emailNotFound").modal('show');
	
	
});

</script>
</body>
</html>