<!DOCTYPE html>
<html layout:decorator="layouts/main">
<head>
<title>Kimutatások</title>
<meta charset="UTF-8">
<!--===============================================================================================-->
<link rel="icon" type="image/svg"
	href="images/icons/displayPieChart.svg" />
<!--===============================================================================================-->
</head>
<body>
	<div layout:fragment="content">
		<div class="page-content p-5" id="content">
			<div class="card">
				<div id="pieChartStatus" style="height: 400px"></div>
			</div>
			<br />
			<div class="card">
				<div id="pieChartToPriority" style="height: 400px"></div>
			</div>



		</div>
	</div>


</body>
</html>